
# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dev / Scratch files
scratch/

# OS Files
.DS_Store
Thumbs.db
