<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderList</title>
</head>
<body>
    <h3>Listing items</h3>
    <form method="post" action="/listings">
        <input name="listing[title]" placeholder="Enter title">
        <br><br>
        <textarea name="listing[description]" placeholder="add description"></textarea>
        <br><br>
        <input name="listing[image]" placeholder="add url">
        <br><br>
        <input name="listing[price]" placeholder="Enter price">
        <br><br>
        <input name="listing[location]" placeholder="Enter location">
        <br><br>
        <input name="listing[country]" placeholder="Enter country">
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>