
<% layout("/layout/boilerplate.ejs") %>
<div class="row mt-3" >
<div class="alert alert-danger cols-6 offset=3" role="alert" >
        <use xlink:href="#exclamation-triangle-fill"/>
    <p class="alert-heading"><%= message  %></p>
    </div>
</div>
